<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="text" name="fileName" placeholder="File name">
 
    <input type="submit">
</form>