<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/estilo')%>
    
    <title>Pagina Principal</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

    <h1> Dashboard</h1>

    <div class="container">
        <h2>Uso Juego</h2>
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>



        <script src="js/graficaclase.js"></script>

<%- include('partials/footer')%>
</html>