<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/estilo')%>
    
    <title>Pagina Principal</title>
</head>

    <%- include('partials/head')%>

    <h1> Pagina de inicio</h1>

    <h2> Hola <%- user.user_name%> </h2>

<%- include('partials/footer')%>
</html>