<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/estilo')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    
    <title>Pagina Principal</title>
</head>

<div class="container">
    <canvas id="myChart"></canvas>
</div> 


<script src="js/pruebagrafica.js"></script>v
<%- include('partials/footer')%>
</html>



